body {
    background-color: linear-gradient(to bottom left, #a6b4f4 , #00dbde, #fc00ff );
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
